<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>

<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the <%= title %></h1>
		<p>Current time is: <%= time %></p>
		<p><%= name %></p>

		<p>
			<a class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>

	
</body>

</html>