<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the <%= title %></h1>
		<p>Current time is: <%= time %></p>
		<p><%= name %> is your current Ursus Peritum</p>
		
		<p>
			<a href="/" class="btn btn-primary btn-lg">HOME</a>
		</p>
		<p>
			<a href="/bears" class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>

			<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="app.js"></script>
</body>

</html>