<!DOCTYPE html>
<html>
<head>
	<title></title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div class="jumbotron">
	<div class="container">
		<h1 align="center">My Bears</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Gender</th>
				</tr>
			</thead>
			<tbody id="bearTable">
				<% for(var i = 0; i < bears.length; i++)  { %>
				  <tr>
				  	<td> <%= bears[i].name %> </td>
				  	<td> <%= bears[i].age %> </td>
				  	<td> <%= bears[i].gender %> </td>
				  	<td>
				  		<button data-id="<%= bears[i].id %>" class="btn btn-warning deleteBear" type="button">
				  			Delete
				  		</button> 
				  	</td>
				  </tr>
				<% } %>
			</tbody>			
		</table>
<div class="col-md-6">
		<p>
			<a href="/" class="btn btn-primary btn-lg">HOME</a>
		</p>

		<p>
			<a href="/about" class="btn btn-primary btn-lg">About me</a>
		</p>
</div>
	</div>
</div>

<form class="form-inline" role="form" align="center">

	<div class="form-group">
		<label class="sr-only" for=""></label>
		<input name="name" type="text" class="form-control" id="name" placeholder="Name">
	</div>
	<div class="form-group">
		<label class="sr-only" for=""></label>
		<input name="age" type="text" class="form-control" id="age" placeholder="Age">
	</div>
	<div class="form-group">
		<label class="sr-only" for=""></label>
		<input name="gender" type="text" class="form-control" id="gender" placeholder="Gender">
	</div>
		

	<button id="addBear" type="submit" class="btn btn-primary">Create</button>
</form>
	

</div>

			<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="app.js"></script>

</body>
 
</html>