<!DOCTYPE html>
<html>
<head>
	<title></title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div class="jumbotron">
	<div class="container">
		<h1>My Bears</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Gender</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < bears.length; i++)  { %>
				  <tr>
				  	<td> <%= bears[i].name %> </td>
				  	<td> <%= bears[i].age %> </td>
				  	<td> <%= bears[i].gender %> </td>
				  </tr>
				<% } %>
			</tbody>			
		</table>

		<p>
			<a href="/" class="btn btn-primary btn-lg">HOME</a>
		</p>

		<p>
			<a href="/about" class="btn btn-primary btn-lg">About me</a>
		</p>
	</div>
</div>

			<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
 
</html>