<!DOCTYPE html>
<html>
<head>
	<title></title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<h3>HELLO WORLD!</h3>
<h2> <%= title %> </h2>


		<p>
			<a href="/bears" class="btn btn-primary btn-lg">Learn more</a>
		</p>
		<p>
			<a href="/about" class="btn btn-primary btn-lg">About me</a>
		</p>

		<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="app.js"></script>
</body>
</html>